*{
    box-sizing: border-box;
}

body.phone{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-areas: 'head head head'
                        'nav nav nav'
                        '. main .'
                        'foot foot foot';
    background-image: url(pizza_phone.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.phone>header{
    grid-area: head;
    background-color: forestgreen;
}

body.phone>nav{
    grid-area: nav;
    background-color: fuchsia;
}

body.phone>main{
    grid-area: main;
    background-color: brown;
}

body.phone>footer{
    grid-area: foot;
    background-color: hotpink;
}