/*página de estilos para desktop*/

/*declaração de variáveis na raíz*/

:root{
    --b_transp: rgb(755, 755, 755, 0.4) 
}

*{
    box-sizing: border-box;
}

body.desktop{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-areas: 'head head head head head head head head head head'
                        'nav nav nav nav nav nav nav nav nav nav'
                        '. main main main main main main main main .'
                        'foot foot foot foot foot foot foot foot foot foot';
    background-image: url('pizza_desktop.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.desktop>header{
    grid-area: head;
    background-color: blue;
}

body.desktop>nav{
    grid-area: nav;
    background-color: chocolate;
}

body.desktop>main{
    grid-area: main;
    background-color: var(--b_transp);
}

/*foi necessário mudar o template-columns pois no auto a imagem quebra, da maneira que está força uma largura fixa*/

main.desktop{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
}

/*os 98% representam a porção que ocupará em relação à porção destinada a ele*/

details#calabresa{
    background-image: url(calabresa_desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 200px;
    margin: 10px auto;
}

details#frango{
    background-image: url(frango_desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 200px;
    margin: 10px auto;
}

details#mucarela{
    background-image: url(muçarela_desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 200px;
    margin: 10px auto;
}

summary{
    background-color: var(--b_transp);
    margin: 0;
    padding: 0;
}

summary::marker{
    color: rgb(755, 755, 755, 0);
}

/*os 100% na altura e largura indicam que ocupará todo o espaço reservado a ele, e com o efeito de cor de fundo da a impressão de ocupar toda a imagem*/

p{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--b_transp);
}

body.desktop>footer{
    grid-area: foot;
    background-color: darkgray;
}