@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');

:root{
    --cor1: #7D3305;
    --cor2: #FD9656;
    --cor_principal: #FC670A;
    --cor3: #7D4A2A;
    --cor4: #C95208;
    --cor_branco: #ffffff;
    --cor_preto: #000000;
}

html{
    background-color: white;
    background-image: url(pizza1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body{
    margin: auto;
    padding: 0px;
    display: grid;
    grid-template-areas: 'h h h h h'
                        'n n n n n'
                        '. m m m .'
                        '. fr fr fr .'
                        'f f f f f';
}

header{
    grid-area: h;
    padding-top: 100px;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
    display: grid;
    grid-template-areas: 'titulo';
}

header h1{
    font-family: 'Patrick Hand', cursive;
    font-size: 3.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: titulo;
    text-align: left;
}

nav{
    grid-area: n;
    background-color: var(--cor1);
    display: grid;
}

.drop{
    display: grid;
    background-image: url(outline_menu_black_24dp.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.navOver{
    display: grid;
    background-image: url(outline_menu_open_black_24dp.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.drop-content{
    display: grid;
}

.drop-content a{
    display: none;
}

.navOver .drop-content{
    background-color: white;
    z-index: 1;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
}

.navOver .drop-content a{
    display: inline;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.linkHover{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px black;
    color: red;
}

.linkClick{
    color: black;
}

main{
    grid-area: m;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-areas: 'home'
                        'sobre';
}

article{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: justify;
}

.home{
    padding: 10px;
    grid-area: home;
}

.sobre{
    padding: 10px;
    grid-area: sobre;
}

form{
    grid-area: fr;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
}

fieldset{
    text-align: left;
    display: grid;
}

fieldset>label{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: block;
}

.default{
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
}

.focus{
    background-color: rgba(255, 255, 255, 0.67);
    border: 2px solid red;
}

footer{
    grid-area: f;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: var(--cor1);
    font-family: 'Roboto' sans-serif;
    display: grid;
    grid-template-areas: 'p . .'
                        'face insta topo';
}

footer>p{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: p;
}

footer>a{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.face{
    grid-area: face;
}

.face img{
    max-width: 30px;
    max-height: 30px;
}

.insta{
    grid-area: insta;
}

.insta img{
    max-width: 30px;
    max-height: 30px;
}

.topo{
    grid-area: topo;
    text-align: center;
    padding: 10px;
}

.footOver{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}
