*{
    box-sizing: border-box;
}

body.desktop{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-areas: 'head head head head head head head head head head'
                        'nav nav nav nav nav nav nav nav nav nav'
                        '. . main main main main main main . .'
                        'foot foot foot foot foot foot foot foot foot foot';
    background-image: url(pizza_desktop.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.desktop>header{
    grid-area: head;
    background-color: blue;
}

body.desktop>nav{
    grid-area: nav;
    background-color: chocolate;
}

body.desktop>main{
    grid-area: main;
    background-color: aqua;
}

body.desktop>footer{
    grid-area: foot;
    background-color: darkgray;
}