/*página de estilos para celular*/

/*declaração de variáveis na raíz*/

:root{
    --b_transp: rgb(755, 755, 755, 0.4) 
}

*{
    box-sizing: border-box;
}

body.phone{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2.5vw 95vw 2.5vw;
    grid-template-areas: 'head head head'
                        'nav nav nav'
                        '. main .'
                        'foot foot foot';
    background-image: url(pizza_phone.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.phone>header{
    grid-area: head;
    background-color: forestgreen;
}

body.phone>nav{
    grid-area: nav;
    background-color: fuchsia;
}

body.phone>main{
    grid-area: main;
    background-color: var(--b_transp);
}

/*foi necessário mudar o template-columns pois quando está no auto a imagem quebra, assim força uma largura fixa*/

main.phone{
    display: grid;
    grid-template-columns: 95vw;
}

/*os 98% representam a porção que ocupará em relação à porção destinada a ele*/

details#calabresa{
    background-image: url(calabresa_phone.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 200px;
    margin: 10px auto;
}

details#frango{
    background-image: url(frango_phone.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 200px;
    margin: 10px auto;
}

details#mucarela{
    background-image: url(muçarela_phone.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 200px;
    margin: 10px auto;
}

summary{
    background-color: var(--b_transp);
    margin: 0;
    padding: 0;
}

/*os 100% na altura e largura representam a porção que ocupará em relação à porção destinada, e com o efeito de cor de fundo da a impressão de cobrir toda a imagem*/

p{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--b_transp);
}

body.phone>footer{
    grid-area: foot;
    background-color: hotpink;
}